.path {
    margin: 30px 0;
}

.pathLink {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.pathLink>a {
    color: black;
}

.allTaker {
    background-color: #D9D9D9;
    border-radius: 10px;
    margin: 40px 0px;
    padding-bottom: 10px;
    padding: 20px 0 10px;
    display: block !important;
}

.contentone {
    background-color: #7fc5d280;
    height: 300px;
    border-radius: 10px;
    margin: 20px 10px;
    display: flex;
}

.content {
    height: 300px;
    border-radius: 10px;
    margin: 0 20px;
    display: flex;
}

.content1 {
    margin: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.hot {
    float: left;
    position: absolute;
    left: 5px;
    top: 5px;
    border-radius: 20px;
    height: 40px;
    width: 40px;
}

.companyphoto {
    /* flex: 8; */
    height: 120px;
    width: 120px;
    background-color: white;
    border-radius: 50%;
    margin: 25px 25px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.companyphoto img {
    border-radius: 50%;
    max-width: 100%;
    /* 確保圖片不超出父容器 */
    max-height: 100%;
    /* 確保圖片不超出父容器 */
    margin: auto;
    object-fit: cover;
}

.companyname {
    flex: 2;
    display: flex;
    text-align: center;
    margin: 5px;
    align-items: center;
}

.companyname>h4 {
    display: inline;
}

.companystar {
    flex: 2;
    text-align: center;
    margin: 5px;
}

.userStar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userStar>label {
    font-size: 0.7rem;
    margin-left: 10px;
}

.content2 {
    flex: 7;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.title {
    margin: 10px 0 0;
}

.title>h2 {
    margin-top: 0;
    text-shadow: 0 4px 4px #00000040;
}

.location {
    margin: 0 0 20px;
    font-size: 0.9rem;
}

.casecontent {
    margin: auto 0;
    text-align: justify;
    font-size: 0.9rem;
}

.require {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.require>p {
    margin-left: 0;
}

.require div {
    display: flex;
}

.require div p {
    background-color: #F0F0F0;
    border-radius: 20px;
    padding: 4px 15px;
    margin: 15px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentnew img {
    margin: 15px 0 0 0;
}

.content .contentnew img {
    margin: 10px 0 0 0;
}

.content3 {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.time {
    font-weight: 700;
    margin: 20px 0;
    height: fit-content;
    font-size: 0.9rem;
}

.content3btn {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.content3btn>a {
    color: black;
    background-color: #F5F5DC;
    width: 75px;
    border-radius: 50px;
    font-size: 0.9rem;
    padding: 10px 10px;
    margin: 10px 30px;
    display: flex;
    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
    align-items: center;
}

hr {
    margin: 20px 30px;
}


.tab {
    height: 40px;
    display: flex;
    margin: 50px 0 30px;
    justify-content: center;
    align-items: center;
}

.tab a {
    color: white;
    background-color: #464646;
    border-radius: 5px;
    padding: 9px 20px;
    margin: 0 2px;
    justify-content: center;
    /* 水平置中 */
    align-items: center;
    /* 垂直置中 */
}

.footer {
    display: flex;
    height: 125px;
    background-color: #D3D3D3;
}

.icons {
    flex: 4;
    display: flex;
    justify-content: center;
    /* 水平置中 */
    align-items: center;
    /* 垂直置中 */
}

.icons>a {
    text-align: center;
    padding: 10px;
    /* 添加內邊距以提高可點擊區域 */
    background-color: lightgray;
    /* 添加背景色便於視覺區分 */
    margin: 5px;
    /* 添加外邊距以增加間距 */
    color: black;
    /* 設置文字顏色 */
    transition: background-color 0.3s;
    /* 添加過渡效果 */
}

.icons a:hover {
    background-color: gray;
    /* 鼠標懸停時改變背景色 */
    color: white;
    /* 鼠標懸停時改變文字顏色 */
}

.copyright {
    flex: 4;
    text-align: center;
    margin: 25px 10px;
}

.copyright a,
.copyright>div+div {
    color: black;
    padding: 20px;
}